@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 32% 93%;
    --foreground: 216 39% 27%;
    --card: 50 27% 96%;
    --card-foreground: 216 39% 27%;
    --popover: 50 27% 96%;
    --popover-foreground: 216 39% 27%;
    --primary: 82 20% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 50 75% 93%;
    /* --secondary: 218 17% 62%; */
    --secondary-foreground: 0 0% 100%;
    --muted: 82 20% 62%;
    --muted-foreground: 218 17% 35%;
    --accent: 43 74% 66%;
    --accent-foreground: 216 39% 27%;
    --destructive: 0 63% 64%;
    --destructive-foreground: 50 27% 96%;
    --border: 45 15% 79%;
    --input: 45 15% 79%;
    --ring: 82 20% 62%;
    --radius: 2rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 2rem;
  }

  .dark {
    --background: 218 18% 24%;
    --foreground: 0 0% 95%;
    --card: 220 20% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 220 20% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 82 20% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 37% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 197 37% 24%;
    --muted-foreground: 0 0% 70%;
    --accent: 43 74% 66%;
    --accent-foreground: 197 37% 24%;
    --destructive: 0 63% 64%;
    --destructive-foreground: 0 0% 95%;
    --border: 220 20% 20%;
    --input: 220 28% 44%;
    /* --input: 220 20% 20%; */
    --ring: 82 20% 62%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 2rem;
  }
}

/* Add these styles */
html,
body {
  @apply bg-background text-foreground;
}

#root {
  @apply text-foreground;
}
